<div class="d-flex flex-row align-items-center justify-content-center fullscreen">
  <div class="d-flex flex-column justify-content-center forget-password item-container p-3">
    <img src="../../../assets/images/logo.png" width="240px" alt="logo" />
    <h4 class="my-2">{{ forgetPasswordTitles.forget_password_text }}</h4>
    <form class="d-flex flex-column">
      <div class="d-flex flex-column col-12 mt-3">
        <app-form-field
          [id]="'email'"
          [control]="emailController"
          [title]="forgetPasswordTitles.email"
          [placeholder]="forgetPasswordTitles.email"
        ></app-form-field>
        <span class="px-2 fs-12 error" *ngIf="emailController.touched && emailController.hasError('required')">
          {{ forgetPasswordTitles.email_required }}
        </span>
        <span class="px-2 fs-12 error" *ngIf="emailController.touched && emailController.hasError('email')">
          {{ forgetPasswordTitles.email_invalid }}
        </span>
      </div>
      <button type="button" class="col-12 btn btn-color white mt-1 px-2" (click)="forgetPassword()">
        {{ forgetPasswordTitles.forget_password_button }}
      </button>
    </form>
  </div>
</div>
