<!--<section class="content" *ngIf="rfqTitles">-->
<!--  <div class="container-fluid d-flex flex-column">-->
<!--    <div class="d-flex flex-column border-radius shadow-border shadow bgd-white p-3">-->
<!--      <ul class="nav nav-tabs px-2">-->
<!--        <li class="nav-item px-2">-->
<!--          <a class="nav-link" [ngClass]="{ active: currentTab === 'inquiry' }" (click)="setCurrentTab('inquiry')">{{-->
<!--            rfqTitles.inquiry_tab-->
<!--            }}</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <app-inquiry-list-page *ngIf="currentTab === 'inquiry'"></app-inquiry-list-page>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<section class="content" *ngIf="rfqTitles">
  <div class="container-fluid d-flex flex-column">
    <div class="d-flex flex-column border-radius shadow-border shadow bgd-white p-3">
      <ul class="nav nav-tabs px-2">
        <li class="nav-item px-2">
          <a class="nav-link" [ngClass]="{ active: currentTab === 'rfq' }" (click)="setCurrentTab('rfq')">{{
            rfqTitles.rfq_tab
            }}</a>
        </li>
<!--        <li class="nav-item px-2">-->
<!--          <a class="nav-link" [ngClass]="{ active: currentTab === 'inquiry' }" (click)="setCurrentTab('inquiry')">{{-->
<!--            rfqTitles.inquiry_tab-->
<!--            }}</a>-->
<!--        </li>-->
        <li class="nav-item px-2">
          <a class="nav-link" [ngClass]="{ active: currentTab === 'invoice' }" (click)="setCurrentTab('invoice')">{{
            rfqTitles.invoice_tab
            }}</a>
        </li>
      </ul>
      <app-rfq-list-page *ngIf="currentTab === 'rfq'"></app-rfq-list-page>
<!--      <app-inquiry-list-page *ngIf="currentTab === 'inquiry'"></app-inquiry-list-page>-->
      <app-invoice-list-page *ngIf="currentTab === 'invoice'"></app-invoice-list-page>
    </div>
  </div>
</section>
