<div class="d-flex flex-row align-items-center p-3 mb-3 border border-radius shadow-border">
  <span class="col-1">{{ rfq.Id }}</span>
  <div class="col-3 d-flex flex-row align-items-center">
    <img
      width="75"
      height="75"
      class="border border-radius object-fit"
      [src]="rfq.ProductPicturePath"
      [alt]="rfq.ProductName.hasOwnProperty('fa') ? rfq.ProductName[language] : rfq.ProductName"
    />
    <span class="margin">{{ rfq.ProductName.hasOwnProperty('fa') ? rfq.ProductName[language] : rfq.ProductName }}</span>
  </div>
  <span class="col-2">{{ rfq.CategoryName[language] }}</span>
  <span class="col-2">{{ rfq.FirstName + ' ' + rfq.LastName }}</span>
  <span class="col-2">{{ rfq.CreatedOnUtc }}</span>
  <ng-container ngSwitch="{{ +rfq.Status }}">
    <span *ngSwitchCase="0" class="col-1 text-right orange">{{ rfqTitles.status_0 }}</span>
    <span *ngSwitchCase="1" class="col-1 text-right green">{{ rfqTitles.status_1 }}</span>
    <span *ngSwitchCase="2" class="col-1 text-right red">{{ rfqTitles.status_2 }}</span>
    <span *ngSwitchCase="3" class="col-1 text-right dark-gray">{{ rfqTitles.status_3 }}</span>
  </ng-container>
  <div class="col-1 d-flex flex-row justify-content-end align-items-center mb-1">
    <a class="pointer" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="../../../../assets/icons/dots-vertical.svg" alt="" />
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
      <li>
        <a class="dropdown-item green" [routerLink]="['/', language, 'rfqs', 'rfq', 'details', rfq.Id]">{{
          rfqTitles.detail
          }}</a>
      </li>
    </ul>
  </div>
</div>
