<div class="px-2 d-flex flex-column position-relative">
  <label class="medium-gray fs-16">{{ title }}</label>
  <input class="form-control mt-1" type="text" [formControl]="control" [id]="id" />
  <div class="d-flex flex-column bgd-white autocomplete p-2" *ngIf="this.list.length > 0">
    <div class="d-flex flex-column w-100" *ngFor="let item of list; let i = index">
      <span class="pointer text-dark" (click)="setValue(item)">{{ item.name }}</span>
      <hr class="mx-2" *ngIf="i !== list.length - 1" />
    </div>
  </div>
</div>
